In [1]:
import pandas as pd
import numpy as np
import acquire as a
import new_lib as nl
import prepare as p
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
import warnings
warnings.filterwarnings("ignore")
from itertools import combinations

In [2]:
wine = a.acquire_wine()
wine = p.prepare_wine(wine)
wine = wine[['volatile_acidity', 'citric_acid', 'sugar', 'density', 'alcohol', 'quality']]
# acquire and prepare the data using functions from acquire.py and prepare.py

In [3]:
train, val, test, X_train, y_train, X_val, y_val, X_test, y_test = nl.train_vailidate_test_split(wine, 'quality')
# splitting data into train, validate, test splits

In [4]:
train_scaled, val_scaled, test_scaled = nl.scale_splits(X_train, X_val, X_test, MinMaxScaler(), columns = ['volatile_acidity', 
                                                                                                           'citric_acid', 'sugar', 
                                                                                                           'density', 
                                                                                                           'alcohol'])
# creating scaled data for modeling and testing purposes

In [5]:
train_scaled
# checking the scale

      volatile_acidity  citric_acid     sugar   density   alcohol
3899          0.146667     0.198795  0.051780  0.156846  0.666667
5268          0.193333     0.192771  0.029126  0.084055  0.681159
332           0.333333     0.168675  0.080906  0.436742  0.202899
274           0.380000     0.108434  0.203883  0.516898  0.202899
4326          0.060000     0.186747  0.025890  0.160312  0.362319
...                ...          ...       ...       ...       ...
2916          0.046667     0.204819  0.022654  0.237435  0.405797
2129          0.013333     0.210843  0.135922  0.324090  0.246377
5437          0.220000     0.132530  0.132686  0.319757  0.173913
481           0.146667     0.337349  0.067961  0.397747  0.536232
3107          0.086667     0.295181  0.446602  0.514731  0.260870

[3637 rows x 5 columns]

In [6]:
df = train_scaled

In [7]:
df['quality'] = train.quality

In [8]:
df

      volatile_acidity  citric_acid     sugar   density   alcohol  quality
3899          0.146667     0.198795  0.051780  0.156846  0.666667        7
5268          0.193333     0.192771  0.029126  0.084055  0.681159        7
332           0.333333     0.168675  0.080906  0.436742  0.202899        6
274           0.380000     0.108434  0.203883  0.516898  0.202899        5
4326          0.060000     0.186747  0.025890  0.160312  0.362319        6
...                ...          ...       ...       ...       ...      ...
2916          0.046667     0.204819  0.022654  0.237435  0.405797        5
2129          0.013333     0.210843  0.135922  0.324090  0.246377        6
5437          0.220000     0.132530  0.132686  0.319757  0.173913        5
481           0.146667     0.337349  0.067961  0.397747  0.536232        8
3107          0.086667     0.295181  0.446602  0.514731  0.260870        6

[3637 rows x 6 columns]

In [9]:
X = df[['volatile_acidity', 'alcohol']]
kmeans = KMeans(n_clusters=3, random_state = 77)
kmeans.fit(X)
kmeans.predict(X)
# creating a kmeans and fitting it
df['v_a'] = kmeans.predict(X)
# predicitons for the clusters
df.head()

,volatile_acidity,citric_acid,sugar,density,alcohol,quality,v_a
3899,0.146667,0.198795,0.051780,0.156846,0.666667,7,1
5268,0.193333,0.192771,0.029126,0.084055,0.681159,7,1
332,0.333333,0.168675,0.080906,0.436742,0.202899,6,2
274,0.380000,0.108434,0.203883,0.516898,0.202899,5,2
4326,0.060000,0.186747,0.025890,0.160312,0.362319,6,0

In [10]:
Y = df[['density', 'alcohol']]
kmeans = KMeans(n_clusters=3, random_state = 42)
kmeans.fit(Y)
kmeans.predict(Y)
# creating a kmeans and fitting it
df['d_a'] = kmeans.predict(Y)
# predicitons for the clusters
df.head()

,volatile_acidity,citric_acid,sugar,density,alcohol,quality,v_a,d_a
3899,0.146667,0.198795,0.051780,0.156846,0.666667,7,1,2
5268,0.193333,0.192771,0.029126,0.084055,0.681159,7,1,2
332,0.333333,0.168675,0.080906,0.436742,0.202899,6,2,1
274,0.380000,0.108434,0.203883,0.516898,0.202899,5,2,1
4326,0.060000,0.186747,0.025890,0.160312,0.362319,6,0,0

In [11]:
Z = df[['sugar', 'density']]
kmeans = KMeans(n_clusters=3, random_state = 41)
kmeans.fit(Z)
kmeans.predict(Z)
# creating a kmeans and fitting it
df['s_d'] = kmeans.predict(Z)
# predicitons for the clusters
df.head()

,volatile_acidity,citric_acid,sugar,density,alcohol,quality,v_a,d_a,s_d
3899,0.146667,0.198795,0.051780,0.156846,0.666667,7,1,2,1
5268,0.193333,0.192771,0.029126,0.084055,0.681159,7,1,2,1
332,0.333333,0.168675,0.080906,0.436742,0.202899,6,2,1,2
274,0.380000,0.108434,0.203883,0.516898,0.202899,5,2,1,2
4326,0.060000,0.186747,0.025890,0.160312,0.362319,6,0,0,1

In [12]:
A = df[['volatile_acidity', 'citric_acid']]
kmeans = KMeans(n_clusters=3, random_state = 12)
kmeans.fit(A)
kmeans.predict(A)
# creating a kmeans and fitting it
df['v_c'] = kmeans.predict(A)
# predicitons for the clusters
df.head()

,volatile_acidity,citric_acid,sugar,density,alcohol,quality,v_a,d_a,s_d,v_c
3899,0.146667,0.198795,0.051780,0.156846,0.666667,7,1,2,1,2
5268,0.193333,0.192771,0.029126,0.084055,0.681159,7,1,2,1,2
332,0.333333,0.168675,0.080906,0.436742,0.202899,6,2,1,2,0
274,0.380000,0.108434,0.203883,0.516898,0.202899,5,2,1,2,0
4326,0.060000,0.186747,0.025890,0.160312,0.362319,6,0,0,1,2

In [13]:
a = pd.get_dummies(df.v_a)
a

      0  1  2
3899  0  1  0
5268  0  1  0
332   0  0  1
274   0  0  1
4326  1  0  0
...  .. .. ..
2916  0  1  0
2129  1  0  0
5437  1  0  0
481   0  1  0
3107  1  0  0

[3637 rows x 3 columns]

In [14]:
b = pd.get_dummies(df.d_a)
c = pd.get_dummies(df.s_d)
d = pd.get_dummies(df.v_c)

In [15]:
a = a.rename(columns = {0: 'v_a1', 1: 'v_a2', 2:'v_a3'})
b = b.rename(columns = {0: 'd_a1', 1: 'd_a2', 2:'d_a3'})
c = c.rename(columns = {0: 's_d1', 1: 's_d2', 2:'s_d3'})
d = d.rename(columns = {0: 'v_c1', 1: 'v_c2', 2:'v_c3'})

In [16]:
df = pd.concat([df,a,b,c,d], axis = 1)

In [17]:
df = df.drop(columns = ['volatile_acidity', 'citric_acid', 'sugar', 'density', 'alcohol', 'v_a', 'd_a', 's_d', 'v_c'])

In [19]:
df['qual'] = df['quality'] >= 7

In [24]:
df['qual'] = np.where(df['qual'] == True, 1, 0)

In [ ]:
d