In [1]:
import pandas as pd
import numpy as np
import acquire as a
import new_lib as nl
import prepare as p
from sklearn.preprocessing import MinMaxScaler

In [2]:
wine = a.acquire_wine()
wine = p.prepare_wine(wine)
wine

,red_or_white,fixed acidity,volatile_acidity,citric_acid,sugar,chlorides,free_sulfer,total_sulfer,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,1,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,0,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,0,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,0,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,0,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [10]:
train, val, test, X_train, y_train, X_val, y_val, X_test, y_test = nl.train_vailidate_test_split(wine, 'quality')

In [12]:
train_scaled, val_scaled, test_scaled = nl.scale_splits(X_train, X_val, X_test, MinMaxScaler(), columns = 'fixed_acidity', 'volitile_acidity', '')

In [13]:
train

,red_or_white,fixed acidity,volatile_acidity,citric_acid,sugar,chlorides,free_sulfer,total_sulfer,density,pH,sulphates,alcohol,quality
3899,0,7.3,0.30,0.33,2.3,0.043,28.0,125.0,0.99084,3.34,0.44,12.6,7
5268,0,5.9,0.37,0.32,1.6,0.029,41.0,102.0,0.98916,3.41,0.55,12.7,7
332,1,8.0,0.58,0.28,3.2,0.066,21.0,114.0,0.99730,3.22,0.54,9.4,6
274,1,7.5,0.65,0.18,7.0,0.088,27.0,94.0,0.99915,3.38,0.77,9.4,5
4326,0,6.5,0.17,0.31,1.5,0.041,34.0,121.0,0.99092,3.06,0.46,10.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,0,7.0,0.15,0.34,1.4,0.039,21.0,177.0,0.99270,3.32,0.62,10.8,5
2129,0,6.4,0.10,0.35,4.9,0.048,31.0,103.0,0.99470,3.43,0.79,9.7,6
5437,0,6.5,0.41,0.22,4.8,0.052,49.0,142.0,0.99460,3.14,0.62,9.2,5
481,1,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7,8
3107,0,6.8,0.21,0.49,14.5,0.060,50.0,170.0,0.99910,3.55,0.44,9.8,6

In [14]:
train_scaled

,red_or_white,fixed acidity,volatile_acidity,citric_acid,sugar,chlorides,free_sulfer,total_sulfer,density,pH,sulphates,alcohol
3899,0,7.3,0.30,0.33,2.3,0.043,28.0,125.0,0.99084,3.34,0.44,12.6
5268,0,5.9,0.37,0.32,1.6,0.029,41.0,102.0,0.98916,3.41,0.55,12.7
332,1,8.0,0.58,0.28,3.2,0.066,21.0,114.0,0.99730,3.22,0.54,9.4
274,1,7.5,0.65,0.18,7.0,0.088,27.0,94.0,0.99915,3.38,0.77,9.4
4326,0,6.5,0.17,0.31,1.5,0.041,34.0,121.0,0.99092,3.06,0.46,10.5
...,...,...,...,...,...,...,...,...,...,...,...,...
2916,0,7.0,0.15,0.34,1.4,0.039,21.0,177.0,0.99270,3.32,0.62,10.8
2129,0,6.4,0.10,0.35,4.9,0.048,31.0,103.0,0.99470,3.43,0.79,9.7
5437,0,6.5,0.41,0.22,4.8,0.052,49.0,142.0,0.99460,3.14,0.62,9.2
481,1,9.4,0.30,0.56,2.8,0.080,6.0,17.0,0.99640,3.15,0.92,11.7
3107,0,6.8,0.21,0.49,14.5,0.060,50.0,170.0,0.99910,3.55,0.44,9.8